build/
install/
log/


__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

*.so
*.o
*.a
*.out
*.dylib


CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt


.vscode/
.idea/
compile_commands.json
*.swp
*.swo
*~
.DS_Store
